<button class="btn btn-default" (click)="setNum(1)">Show All</button>
<div class="btn-group">
  <button type="button" class="btn btn-default">All articles</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
<ul class="dropdown-menu">
  <li class="btn btn-default" (click)="setNum2(2,1)">Show Article 1</li>
  <li class="btn btn-default" (click)="setNum2(3,2)">Show Article 2</li>
  <li class="btn btn-default" (click)="setNum2(4,3)">Show Article 3</li>
</ul>
</div>

<div [ngSwitch]="num">
  <div *ngSwitchCase="'1'" [@focusPanel]='state'><app-all-articles class="animate-switch"></app-all-articles></div>
  <div *ngSwitchCase="'2'" [@focusPanel]='state'><app-single-article [idArticle]="idArticle"></app-single-article></div>
  <div *ngSwitchCase="'3'" [@focusPanel]='state'><app-single-article [idArticle]="idArticle"></app-single-article></div>
  <div *ngSwitchCase="'4'"  [@focusPanel]='state' ><app-single-article [idArticle]="idArticle"></app-single-article></div>
  <div *ngSwitchDefault>This is Default</div>
</div>
