<nav>
<div class="parent2">
  <div class="test1" routerLink="/frontpage" routerLinkActive="active"><i class="fa fa-home fa-2x"></i></div>
  <div class="test2" routerLink="/article" routerLinkActive="active"><i class="fa fa-pencil" aria-hidden="true"></i></div>
  <div class="test3" routerLink="/login" routerLinkActive="active"><i class="fa fa-sign-in" aria-hidden="true"></i></div>
  <div class="test4" routerLink="/registration" routerLinkActive="active"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
  <div class="mask2"><i class="fa fa-bars fa-3x"></i></div>
</div>
</nav>
